<div *ngIf="user; else noUser">
    <h2>{{ user.name | uppercase }} {{ user.surname | uppercase }}</h2>
    <form>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">NR:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext form-control-sm" value="{{user.id}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Imię:</label>
        <div class="col-sm-10">
          <input name="name" type="text" readonly class="form-control-plaintext" value="{{user.name}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Nazwisko:</label>
        <div class="col-sm-10">
          <input name="surname" type="text" readonly class="form-control-plaintext" value="{{user.surname}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">E-mail:</label>
        <div class="col-sm-10">
          <input name="email" type="text" readonly class="form-control-plaintext" value="{{user.email}}">
        </div>
      </div>
  </form>
  </div>
  
  <ng-template #noUser>
    Brak użytkownika!<br />
  </ng-template>
  <button routerLink="/users" class="btn btn-outline-dark btn-sm">Powrót</button>